<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% if header.description %}
        <meta name="description" content="{{ header.description }}" />
    {% else %}
        <meta name="description" content="{{ site.description }}" />
    {% endif %}
    {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/atom+xml" href="{{ base_url_absolute}}/feed:atom" title="Atom Feed" />
    <link rel="alternate" type="application/rss+xml" href="{{ base_url_absolute}}/feed:rss" title="RSS Feed" />
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.ico">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        {% do assets.add('theme://css/bootstrap.min.css') %}
        {% do assets.add('theme://css/font-awesome.min.css') %}
        {% do assets.add('theme://css/nimble.css') %}

        {{ assets.css() }}
    {% endblock %}

    {% block javascripts %}
        {% do assets.add('theme://js/jquery-2.1.1.min.js') %}
        {% do assets.add('theme://js/modernizr.custom.71422.js') %}
        {% do assets.add('theme://js/bootstrap.min.js') %}
        {% do assets.add('theme://js/learn.js') %}

        {{ assets.js() }}
    {% endblock %}

    {% endblock %}
</head>
<body class="searchbox-hidden {{ page.header.body_classes }}" data-url="{{ page.route }}" data-spy="scroll" data-target=".page-sidebar" data-offset="70">
    
    {% block header %}
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://www.themexpert.com/documentation">ThemeXpert Documentation</a>
            </div>

            <div class="navbar-collapse collapse" style="height: 1px;">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Documentation</a></li>
                <li><a href="{{base_url_absolute}}/faqs">FAQ's</a></li>
                <li><a href="http://www.themexpert.com/forum">Ask Question</a></li>
              </ul>

              <div class="searchbox">
                <form class="navbar-form">
                    <input type="text" class="form-control" placeholder="Search Documentation" data-search-input="{{ base_url_relative }}/search.json/query" />    
                </form>
              </div>

            </div>
        </div>    
    </header>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}
            <div class="col-sm-3 col-md-2 sidebar">
                {% include 'partials/sidebar.html.twig' %}
            </div>
            {% endblock %}

            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </div>

    
    
 </body>
</html>
