{% macro loop(page, parent_loop) %}
    {% for p in page.children %}
        {% if p.visible %}
        {% set ref = p.menu|replace(' ','-')|lower %}
        <li class="dd-item" data-nav-id="{{ p.route }}">
            
            {% if p.children.count > 0 %}
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ref}}" class="collapse">
                <i class="fa fa-caret-down"></i>
            {% else %}
            <a href="{{p.url}}">
                <i class="fa fa-check"></i>
            {% endif %}
                {{ p.menu }}
            </a>

            {% if p.children.count > 0 %}
            <ul class="nav collapse" id="{{ref}}">
                {{ _self.loop(p, parent_loop) }}
            </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="nav nav-sidebar" id="accordion">
    {{ _self.loop(pages, '') }}
</ul>
<!-- 
<hr />
<a href="#" data-clear-history-toggle><i class="icon-back-in-time"></i> Clear History</a><br />
<a href="#" data-clear-bookmark-toggle><i class="icon-star"></i> Clear Bookmarks</a><br />
 -->